.countdown-timer{
    font-family: var(--text-font-secondary);
    font-size: 1.2rem;
}

.timer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timer-title{
    font-size: 0.85rem;
    margin-right: 0.5rem;
}

@media(max-width: 70rem){
    .countdown-timer{
        font-size: 1rem;
    }
}

@media(max-width: 30rem){
    .timer-container{
        flex-direction: column;
    }

    .countdown-timer{
        font-size: 0.9rem;
    }

    .timer-title{
        margin-bottom: 0.2rem;
        font-size: 0.7rem;
    }
}