.toggle{
    min-width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--color-secondary);
}

.option{
    width: 50%;
    font-size: 0.8rem;
    padding: 0.5rem;
    text-align: center;
    font-family: var(--text-font-primary);
}

.option:hover{
    cursor: pointer;
}

.selected{
    background-color: var(--color-secondary);
    color: white;
    border-radius: 0.5rem;
    font-weight: 400;
}