.price-input{
    margin-right: 1.5rem;
    border-style: none;
    padding: 0.3rem;
    width: 4rem;
    font-size: 1rem;
    outline: none;
    border-bottom: solid var(--color-secondary);
}

label{
    margin-left: 0.5rem;
}