.lots-list{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.lots-list-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.filter-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.admin-filter-option{
    font-family: var(--text-font-secondary);
    font-weight: 400;
    padding: 0.5rem;
}

.admin-filter-toggle{
    margin-left: auto;
    border: solid var(--color-secondary);
    padding: 0.5rem 1rem;
    font-weight: 700;
}

.admin-filter-option:hover{
    cursor: pointer;
}

.admin-selected{
    background-color: var(--color-secondary);
    color: white;
}

.admin-lot{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f0f0f0;
    border-left: 0.2rem solid #f0f0f0;
    gap: 0.5rem;
    width: 28rem;
}

.admin-lot:hover{
    cursor: pointer;
    background-color: #d6d1d1;
}

.selected-lot{
    border-left: 0.2rem solid var(--color-secondary);
}

.admin-lot-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-lot-status{
    margin-left: auto;
    background-color: var(--color-secondary);
    padding: 0.3rem 0.5rem;
    color: white;
    font-family: var(--text-font-secondary);
    font-size: 0.8rem;
    width: 8rem;
    text-align: center;
}

.lot-name-label{
    font-family: var(--text-font-secondary);
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

.lot-duration-label{
    font-family: var(--text-font-secondary);
    font-size: 0.9rem;
}

.lot-duration{
    margin-left: 0.3rem;
    font-weight: 400;
}

.create-lot-button{
    font-family: var(--text-font-secondary);
    background-color: var(--color-secondary);
    color: white;
    margin-top: 1.5rem;
    padding: 0.3rem;
    width: 80%;
    align-self: center;
}

.create-lot-button:hover{
    cursor: pointer;
}