.page-lot-container{
    display: flex;
    flex-direction: column;
    padding: 2rem 10rem;
}

.lot-page-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

.go-back-button{
    font-family: var(--text-font-primary);
    color: var(--color-secondary);
    font-size: 1.5rem;
}

.go-back-button:hover{
    cursor: pointer;
    color: var(--color-primary);  
}

.lot-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.lot-details{
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.lot-info-container{
    display: flex;
    flex-direction: row;
}

.lot-info{
    width: 100%;
    margin-left: 2rem;
    padding: 1rem;
}

.title-container{
    width: 100%;
}

.lot-title{
    font-family: var(--text-font-primary);
    font-weight: 900;
    font-size: 3.5rem;
    color: var(--color-secondary);
    margin-bottom: 0.4rem;
}

.page-lot-image{
    max-width: 60rem;
}

.page-lot-line{
    margin-bottom: 0.3rem;
    height: 0.3rem;
}

.bidding-details{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.countdown-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: auto;
}

.countdown{
    padding: 1rem;
    background-color: var(--color-secondary);
    color: white;
    font-family: var(--text-font-secondary);
    border-radius: 0.2rem;
}

.status-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--color-secondary);
    margin-bottom: 1.5rem;
}

.status{
    font-family: var(--text-font-primary);
    color: white;
    font-size: 1.5rem;
}

.description-title{
    margin-bottom: 1rem;
    font-family: var(--text-font-secondary);
    color: var(--color-secondary);
    font-size: 1.5rem;
}

.description-text{
    font-family: var(--text-font-secondary);
    line-height: 1.5rem;
    font-weight: 400;
    margin-left: 0.5rem;
}

.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
}

@media(max-width: 75rem){
    .page-lot-container{
        padding: 2rem 4rem;
    }

    .lot-header{
        flex-direction: column;
    }

    .lot-title{
        font-size: 2.5rem;
    }

    .description-title{
        font-size: 1.3rem;
    }

    .status{
        font-size: 1.2rem;
    }
}

@media(max-width: 60rem){
    .page-lot-container{
        padding: 2rem 2rem;
    }

    .lot-details{
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .lot-info-container{
        flex-direction: column;
    }

    .lot-info{
        margin: 0;
        margin-top: 2rem;
    }

    .bidding-details{
        flex-direction: column;
        padding: 0 1rem;
    }
}

@media(max-width: 30rem){
    .page-lot-container{
        padding: 2rem 1rem;
    }

    .lot-title{
        font-size: 2rem;
    }

    .description-title{
        font-size: 1rem;
    }

    .status{
        font-size: 1rem;
    }

    .go-back-button{
        font-size: 1rem;
    }
}
