.filter-panel{
    font-family: var(--text-font-secondary);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.5rem;
    color: white;
    gap: 2rem;
    background-color: white;
}

.label{
    font-weight: 400;
    justify-self: center;
    align-self: center;
    margin-bottom: 1rem;
}

.text-input{
    border-style: none;
    font-size: 1.2rem;
    outline: none;
    padding: 0.5rem 1rem;
    font-family: var(--text-font-primary);
    text-align: center;
    border-bottom: solid var(--color-secondary);
}

.text-input::placeholder{
    color: rgba(51,51,51,0.4);
}

.filter-option{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0.4rem 1rem;
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-family: var(--text-font-primary);
    width: 100%;
}

.filters-toggle{
   background-color: white;
   color: var(--color-secondary);
   width: 10%;
}

.filters-toggle:hover{
   cursor: pointer;
}

.selected-filter{
   margin-left: 0.2rem;
   font-weight: 700;
}

.settings-img{
    width: 1.4rem;
    margin-left: 0.6rem;
}

.dropdown{
    position: absolute;
    top: 40px;
    left: 38%;
    transform: translateX(-45%);
    padding: 0.5rem;
    overflow: hidden;
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
}

.sort-filter{
    position: relative;
}

.sort-filter:hover{
    cursor: pointer;
}

.dropdown-item{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    white-space: nowrap;
}

.dropdown-item:hover{
    background-color: white;
    color: var(--color-secondary);
    border-radius: 0.2rem;
    cursor: pointer;
}

.filter-container{
    display: flex;
    flex-direction: column;
}

.filter-container > *{
    font-family: var(--text-font-primary);
}

label{
    margin-right: 0.8rem;
    font-size: 0.8rem;
    color: var(--color-secondary);
}

.section-label{
    color: var(--color-secondary);
}

.line{
    background-color: var(--color-secondary);
    width: 100%;
    border: none;
    height: 0.1rem;
    margin-bottom: 1rem;

}

.apply-button{
    margin: 1.5rem 0;
    background-color: #f0f0f0;
    padding: 0.5rem;
    width: 80%;
    border-radius: 0.2rem;
    font-family: var(--text-font-secondary);
    font-size: 1.1rem;
    font-weight: 700;
    align-self: center;
    color: var(--color-secondary);
}

.apply-button:hover{
    background-color: #d6d1d1;
    cursor: pointer;
}

.picker-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}
