.filter-panel{
    font-family: var(--text-font-secondary);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.5rem;
    border-radius: 0.5rem;
    color: white;
    gap: 2rem;
}

.label{
    font-weight: 400;
    justify-self: center;
    align-self: center;
    margin-bottom: 1rem;
}

.text-input{
    min-width: 40%;
    border-radius: .5rem;
    border-style: none;
    font-size: 1.2rem;
    outline: none;
    padding: 0.5rem 1rem;
    font-family: var(--text-font-primary);
}

.filter-option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 1rem;
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

@media(max-width: 36rem){
    .text-input{
        width: 100%;
    }
}
