header{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--text-font-primary);
    font-size: 1.2rem;
    background-color: white;
}

.logo-text{
    color: var(--color-secondary);
}

.colored{
    color: var(--color-primary);
}

.nav-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: auto;
}

.nav-element{
    font-size: 1.2rem;
    margin-right: 3rem;
    font-weight: 400;
    color: var(--color-primary);
}

.nav-element:hover{
    cursor: pointer;
    border-bottom: solid var(--color-secondary);
    color: var(--color-secondary);
}

.login-button{
    outline: none;
    border-style: none;
    padding: 0.6rem 1rem;
    color: white;
    background-color: #229486;
    border-radius: 0.25rem;
    font-family: var(--text-font-primary);
    font-size: 1rem;
    font-weight: 400;
}

.login-button:hover{
    cursor: pointer;
    background-color: var(--color-secondary);
}

@media(max-width: 50rem){
    .nav-element{
        margin-right: 2rem;
        font-size: 1rem;
    }
}

@media(max-width: 30rem){
    header{
        font-size: 0.8rem;
    }

    .nav-element{
        display: none;
    }

    .login-button{
        font-size: 0.8rem;
    }
}

